<div class="col-sm-12 border-bottom" style="height: 100px;">
    <div class="row">
        <div class="col-sm-6" style="padding-left: 30px; padding-top: 15px;"><img src="assets/fpt.jpg" width="80%" height="80%"></div>
        <div class= "col-sm-6"><span style="font-style: italic; font-size: 1.5em">NLU DEMO</span></div>
    </div>		  		  		 
</div>
<div class="col-sm-12">
    <div class= "col-sm-12" style="padding-left: 20px;">        
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" type="button" style>Active</a><span class="caret"></span>
          </li>
          <hr class="solid" style="color:black;">
          <li class="nav-item">
            <a class="nav-link">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>          
    </div>     
</div> 