<h4>Asignment 1</h4>
<warning-alert></warning-alert>
<success-alert></success-alert>
<hr>
<h4>Asignment 2</h4>
<label for="username">User Name</label>
<input type ="text" class = "form-control" [(ngModel)] = "username">
<p>{{username}}</p>
<button class="btn btn-primary" (click) = "reset()" [disabled] = "!(username.length > 0 ? true : false)">Reset User</button>
<hr>
<h4>Asignment 3</h4>
<div>
    <button (click) = "displayBlock()" class="btn btn-primary">Display Detail</button><hr>
</div>
<div *ngIf = "display" [ngStyle]="{backgroundColor: 'pink'}">
    Boo is beautiful than I thought! She is really kute as well!
    Boo is beautiful than I thought! She is really kute as well!
    Boo is beautiful than I thought! She is really kute as well!
    Boo is beautiful than I thought! She is really kute as well!
    Boo is beautiful than I thought! She is really kute as well!
</div><br>
<div *ngFor="let date of clickArr; let i = index" [ngStyle] = "{backgroundColor: i>=5 ? 'blue': 'transparent'}" [ngClass] = "{'white-text': i>=5}">{{date}}</div>